## Settings file was created by plugin Adventure_Map_Pack_1 v1.0.2
## Plugin GUID: warpalicious.Adventure_Map_Pack_1

[1 - CastleCorner1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 15
Spawn Quantity = 11

## When Off, location will spawn default creatures. When On, location will select creatures from the list in the warpalicious.More_World_Locations_CreatureLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = On

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: SwampCreatures_Standard
Name of Creature List = SwampCreatures_Standard

## When Off, location will use default loot. When On, location will select loot from the list in the warpalicious.More_World_Locations_LootLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = On

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: SwampLoot1
Name of Loot List = SwampLoot1

[2 - ForestCamp1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 20
Spawn Quantity = 14

## When Off, location will spawn default creatures. When On, location will select creatures from the list in the warpalicious.More_World_Locations_CreatureLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = On

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestCreatures_Standard
Name of Creature List = BlackforestCreatures_Standard

## When Off, location will use default loot. When On, location will select loot from the list in the warpalicious.More_World_Locations_LootLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = On

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestLoot1
Name of Loot List = BlackforestLoot1

[3 - Misthut2]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 15
Spawn Quantity = 11

## When Off, location will spawn default creatures. When On, location will select creatures from the list in the warpalicious.More_World_Locations_CreatureLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = On

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: MistlandsCreatures_Full
Name of Creature List = MistlandsCreatures_Full

## When Off, location will use default loot. When On, location will select loot from the list in the warpalicious.More_World_Locations_LootLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = On

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: MistLoot1
Name of Loot List = MistLoot1

[4 - MountainDvergrShrine1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 15
Spawn Quantity = 11

## When Off, location will spawn default creatures. When On, location will select creatures from the list in the warpalicious.More_World_Locations_CreatureLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = On

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: MistlandsCreatures_Full
Name of Creature List = MistlandsCreatures_Full

## When Off, location will use default loot. When On, location will select loot from the list in the warpalicious.More_World_Locations_LootLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = On

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: MistLoot1
Name of Loot List = MistLoot1

[5 - MountainShrine1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 20
Spawn Quantity = 14

## When Off, location will spawn default creatures. When On, location will select creatures from the list in the warpalicious.More_World_Locations_CreatureLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = On

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: MountainsCreatures_Standard
Name of Creature List = MountainsCreatures_Standard

## When Off, location will use default loot. When On, location will select loot from the list in the warpalicious.More_World_Locations_LootLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = On

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: MountainsLoot1
Name of Loot List = MountainsLoot1

[6 - RuinedTower1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 15
Spawn Quantity = 11

## When Off, location will spawn default creatures. When On, location will select creatures from the list in the warpalicious.More_World_Locations_CreatureLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = On

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestCreatures_Standard
Name of Creature List = BlackforestCreatures_Standard

## When Off, location will use default loot. When On, location will select loot from the list in the warpalicious.More_World_Locations_LootLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = On

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: BlackforestLoot1
Name of Loot List = BlackforestLoot1

[7 - TreeTowers1]

## Amount of this location the game will attempt to place during world generation [Synced with Server]
# Setting type: Int32
# Default value: 20
Spawn Quantity = 14

## When Off, location will spawn default creatures. When On, location will select creatures from the list in the warpalicious.More_World_Locations_CreatureLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = On

## The name of the creature list to use from warpalicious.More_World_Locations_CreatureLists.yml file [Synced with Server]
# Setting type: String
# Default value: SwampCreatures_Standard
Name of Creature List = SwampCreatures_Standard

## When Off, location will use default loot. When On, location will select loot from the list in the warpalicious.More_World_Locations_LootLists.yml file in the BepInEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = On

## The name of the loot list to use from warpalicious.More_World_Locations_LootLists.yml file [Synced with Server]
# Setting type: String
# Default value: SwampLoot1
Name of Loot List = SwampLoot1

